In [19]:
import pandas as pd
from sqlalchemy import create_engine

In [20]:
%load_ext sql
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Exploratory 1
Team avg batting, slugging and on base percentage

In [76]:
%%sql
SELECT 
	ROUND(SUM(H) / SUM(AB),3)  as team_bating_avg,
	ROUND(SUM(H+BB+HBP) / SUM(PA),3) as team_onbase_avg,
	ROUND(SUM(H+2B+2*3B+3*HR) / SUM(AB),3) as team_slugging_avg
From batting_stats_2022 bs ;

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
1 rows affected.

[(0.234, 0.315, 0.39)]

### Exploratory 2
Best player based on batting average minimum 30 plate appearences

In [77]:
%%sql
SELECT 
	player ,
	pos,
	bats,
	bs.g,
	bs.PA ,
	bs.BA ,
	bs.SLG ,
	bs.OBP 
FROM batting_stats_2022 bs 
LEFT JOIN 2022vsRHP vr ON vr.Name = bs.player
WHERE bs.PA > 30
ORDER BY BA DESC ;

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
23 rows affected.

[('Joc Pederson', 'LF', 'L', 134, 433, '.274', '.521', '.353'),
 ('Jason Vosler', '3B', 'L', 36, 111, '.265', '.469', '.342'),
 ('Austin Slater', 'CF', 'R', 125, 325, '.264', '.408', '.366'),
 ('J.D. Davis', 'IF', 'R', 49, 158, '.263', '.496', '.361'),
 ('Thairo Estrada', '2B', 'R', 140, 541, '.260', '.400', '.322'),
 ('Austin Wynns', 'C', 'R', 65, 177, '.259', '.358', '.313'),
 ('Luis González', 'RF', 'L', 98, 350, '.254', '.360', '.323'),
 ('Evan Longoria', '3B', 'R', 89, 298, '.244', '.451', '.315'),
 ('Tommy La Stella', 'DH', 'L', 60, 195, '.239', '.350', '.282'),
 ('Mauricio Dubón', 'UT', 'R', 21, 49, '.239', '.391', '.245'),
 ('Yermín Mercedes', 'DH', 'R', 31, 83, '.233', '.342', '.325'),
 ('Brandon Crawford', 'SS', 'L', 118, 458, '.231', '.344', '.308'),
 ('Curt Casali', 'C', 'R', 41, 126, '.231', '.370', '.325'),
 ('David Villar', '3B', 'R', 52, 181, '.231', '.455', '.331'),
 ('Wilmer Flores', 'IF', 'R', 151, 602, '.229', '.394', '.316'),
 ('Darin Ruf', 'UT', 'R', 90, 314, '.216', '.373', '.328'),
 ('Joey Bart', 'C', 'R', 97, 291, '.215', '.364', '.296'),
 ('Mike Yastrzemski', 'CF', 'L', 148, 558, '.214', '.392', '.305'),
 ('Brandon Belt', '1B', 'L', 78, 298, '.213', '.350', '.326'),
 ('LaMonte Wade Jr.', 'UT', 'L', 77, 251, '.207', '.359', '.305'),
 ('Steven Duggar', 'CF', 'L', 12, 39, '.194', '.278', '.231'),
 ('Lewis Brinson', 'CF', 'R', 16, 39, '.167', '.472', '.211'),
 ('Donovan Walton', 'IF', 'L', 24, 78, '.158', '.303', '.179')]

### Exploratory 3
players who are better vs lefties, than there avg obp

In [78]:
%%sql
SELECT 
	Name ,
	Bats ,
	vl.BA ,
	vl.SLG ,
	vl.OBP 
From `2022vsLHP` vl  
JOIN batting_stats_2022 bs ON vl.Name = bs.player 
WHERE vl.OBP > bs.OBP AND vl.PA > 20;

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
10 rows affected.

[('Brandon Belt', 'L', 0.182, 0.258, 0.342),
 ('Thairo Estrada', 'R', 0.283, 0.487, 0.347),
 ('Evan Longoria', 'R', 0.282, 0.479, 0.333),
 ('Wilmer Flores', 'R', 0.223, 0.383, 0.324),
 ('Austin Slater', 'R', 0.277, 0.445, 0.379),
 ('Darin Ruf', 'R', 0.252, 0.523, 0.364),
 ('David Villar', 'R', 0.292, 0.6, 0.378),
 ('J.D. Davis', 'R', 0.277, 0.539, 0.365),
 ('Curt Casali', 'R', 0.345, 0.724, 0.429),
 ('Lewis Brinson', 'R', 0.207, 0.586, 0.233)]

Insights:
Only 1 left handed batter performs above their personal average when facing a pitcher throwing with the same hand. He also has the highest pct which could have to do with the sample size in # of at bats

### Exploratory 4
players who are better vs righties, than there avg obp

In [79]:
%%sql
SELECT 
	Name ,
	Bats ,
	vr.BA ,
	vr.SLG ,
	vr.OBP 
From `2022vsRHP` vr  
JOIN batting_stats_2022 bs ON vr.Name = bs.player 
WHERE vr.OBP > bs.OBP AND vr.PA > 20;

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
12 rows affected.

[('Joey Bart', 'R', 0.231, 0.347, 0.318),
 ('Brandon Crawford', 'L', 0.227, 0.338, 0.309),
 ('Joc Pederson', 'L', 0.278, 0.538, 0.356),
 ('Mike Yastrzemski', 'L', 0.227, 0.414, 0.323),
 ('Luis González', 'L', 0.272, 0.404, 0.346),
 ('Tommy La Stella', 'L', 0.245, 0.365, 0.285),
 ('LaMonte Wade Jr.', 'L', 0.225, 0.401, 0.329),
 ('Austin Wynns', 'R', 0.276, 0.408, 0.327),
 ('Jason Vosler', 'L', 0.27, 0.494, 0.347),
 ('Yermín Mercedes', 'R', 0.105, 0.158, 0.37),
 ('Steven Duggar', 'L', 0.206, 0.294, 0.243),
 ('Ford Proctor', 'L', 0.118, 0.294, 0.191)]

Insights:
Similar trend as above but a coupe more righties made an appearence on the list

### Exploratory 5
understanding different outcomes in clutch_batting table

In [80]:
%%sql
SELECT
	events ,
	description
FROM clutch_batting_simple cbs 
GROUP BY description, events
ORDER BY description ;

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
25 rows affected.

[('caught_stealing_2b', 'ball'),
 ('caught_stealing_home', 'ball'),
 ('walk', 'ball'),
 ('walk', 'blocked_ball'),
 ('strikeout', 'called_strike'),
 ('strikeout', 'foul_tip'),
 ('hit_by_pitch', 'hit_by_pitch'),
 ('double', 'hit_into_play'),
 ('double_play', 'hit_into_play'),
 ('field_error', 'hit_into_play'),
 ('field_out', 'hit_into_play'),
 ('fielders_choice', 'hit_into_play'),
 ('fielders_choice_out', 'hit_into_play'),
 ('force_out', 'hit_into_play'),
 ('grounded_into_double_play', 'hit_into_play'),
 ('home_run', 'hit_into_play'),
 ('sac_bunt', 'hit_into_play'),
 ('sac_fly', 'hit_into_play'),
 ('single', 'hit_into_play'),
 ('triple', 'hit_into_play'),
 ('strikeout', 'missed_bunt'),
 ('caught_stealing_2b', 'swinging_strike'),
 ('pickoff_2b', 'swinging_strike'),
 ('strikeout', 'swinging_strike'),
 ('strikeout', 'swinging_strike_blocked')]

Insights:
There are 3 main outcomes for the batter each play either out, hit or walk with various ways each could happen

## Primary Question
Who is the best player in clutch situations? Clutch defined as the chance to tie the game or take the lead when they are at the plate in the 6th inning and later.

Creating view on close game batting. Removes unnecessary data points

In [102]:
%%sql
ALTER VIEW clutch_batting_simple AS
SELECT
    batter,
    player_name,
    events,
    description,
    stand,
    p_throws,
    inning,
    pitch_number,
    bat_score,
    fld_score,
    post_bat_score,
    post_fld_score,
    CASE 
    	WHEN events LIKE '%out%' OR events LIKE '%double_play%' or events LIKE '%sac%' THEN 'out'
    	WHEN description = 'hit_into_play' THEN 'hit'
    	WHEN events in ('walk', 'hit_by_pitch') THEN 'walk'
    	ElSE NULL 
    END AS result
FROM clutch_batting

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
0 rows affected.

[]

Created a cte to aggregate stats for each player from clutch_batting table (which listed results in plate appearences), Then found batting, slugging and on-base percentages and ranked the players by most likely to reach base when they have the chance to tie the game or take the lead.

In [97]:
%%sql
WITH clutch_player_stats AS (
SELECT
    player_name,
    stand,
    COUNT(batter) AS plate_appearences,
    COUNT(batter) - COUNT(CASE WHEN result = 'walk' THEN 1 ELSE NULL END) as at_bats,
    COUNT(CASE WHEN result = 'hit' THEN 1 ELSE NULL END) AS hits,
    COUNT(CASE WHEN result = 'out' THEN 1 ELSE NULL END) AS outs,
    COUNT(CASE WHEN result = 'walk' THEN 1 ELSE NULL END) AS walks,
    COUNT(CASE WHEN events = 'single' THEN 1 ELSE NULL END) AS singles,
    COUNT(CASE WHEN events = 'double' THEN 1 ELSE NULL END) AS 'doubles',
    COUNT(CASE WHEN events = 'triple' THEN 1 ELSE NULL END) AS triples,
    COUNT(CASE WHEN events = 'home_run' THEN 1 ELSE NULL END) AS home_runs
FROM clutch_batting_simple
WHERE inning > 5
GROUP BY batter 
HAVING plate_appearences >= 20 
)
SELECT 
	*,
    ROUND(hits / at_bats,3)  as batting_avg,
	ROUND((hits+walks) / plate_appearences,3) as on_base_pct,
	ROUND((hits+doubles+triples*2+home_runs*3) / at_bats,3) as slugging_avg,
	RANK() OVER(ORDER BY ((hits+walks) / plate_appearences) DESC) as clutch_rank
From clutch_player_stats

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
18 rows affected.

[('Davis, J.D.', 'R', 35, 27, 9, 18, 8, 3, 4, 0, 2, Decimal('0.333'), Decimal('0.486'), Decimal('0.704'), 1),
 ('Casali, Curt', 'R', 20, 17, 6, 11, 3, 4, 1, 0, 1, Decimal('0.353'), Decimal('0.450'), Decimal('0.588'), 2),
 ('González, Luis', 'L', 65, 56, 20, 36, 9, 14, 5, 0, 1, Decimal('0.357'), Decimal('0.446'), Decimal('0.500'), 3),
 ('Estrada, Thairo', 'R', 98, 89, 30, 58, 9, 18, 5, 1, 5, Decimal('0.337'), Decimal('0.398'), Decimal('0.584'), 4),
 ('Slater, Austin', 'R', 58, 48, 13, 35, 10, 9, 3, 0, 1, Decimal('0.271'), Decimal('0.397'), Decimal('0.396'), 5),
 ('Flores, Wilmer', 'R', 111, 98, 31, 67, 13, 20, 4, 0, 6, Decimal('0.316'), Decimal('0.396'), Decimal('0.541'), 6),
 ('Belt, Brandon', 'L', 53, 42, 10, 32, 11, 8, 2, 0, 0, Decimal('0.238'), Decimal('0.396'), Decimal('0.286'), 7),
 ('Longoria, Evan', 'R', 54, 48, 14, 34, 6, 6, 3, 0, 4, Decimal('0.292'), Decimal('0.370'), Decimal('0.604'), 8),
 ('Crawford, Brandon', 'L', 85, 78, 22, 56, 7, 17, 3, 0, 2, Decimal('0.282'), Decimal('0.341'), Decimal('0.397'), 9),
 ('Wynns, Austin', 'R', 28, 25, 6, 19, 3, 5, 0, 0, 0, Decimal('0.240'), Decimal('0.321'), Decimal('0.240'), 10),
 ('Pederson, Joc', 'L', 72, 65, 15, 50, 7, 10, 1, 0, 4, Decimal('0.231'), Decimal('0.306'), Decimal('0.431'), 11),
 ('Vosler, Jason', 'L', 21, 18, 3, 15, 3, 1, 2, 0, 0, Decimal('0.167'), Decimal('0.286'), Decimal('0.278'), 12),
 ('La Stella, Tommy', 'L', 46, 44, 11, 33, 2, 7, 4, 0, 0, Decimal('0.250'), Decimal('0.283'), Decimal('0.341'), 13),
 ('Wade Jr., LaMonte', 'L', 39, 34, 6, 28, 5, 4, 2, 0, 0, Decimal('0.176'), Decimal('0.282'), Decimal('0.235'), 14),
 ('Bart, Joey', 'R', 42, 38, 7, 31, 4, 6, 0, 0, 1, Decimal('0.184'), Decimal('0.262'), Decimal('0.263'), 15),
 ('Ruf, Darin', 'R', 62, 55, 9, 46, 7, 4, 1, 0, 4, Decimal('0.164'), Decimal('0.258'), Decimal('0.400'), 16),
 ('Yastrzemski, Mike', 'L', 93, 84, 14, 70, 9, 7, 4, 0, 3, Decimal('0.167'), Decimal('0.247'), Decimal('0.321'), 17),
 ('Villar, David', 'R', 37, 34, 6, 28, 3, 4, 1, 0, 1, Decimal('0.176'), Decimal('0.243'), Decimal('0.294'), 18)]

Insights:
Relatively small sample size but 3 players (J.D. Davis, Curt Casali and Luis Gonzalez) are significantly better at reaching base in these clutch situations then the rest of the team. All making it on base over 40% of the time and 4 more players hovering around that mark.

## Related Questions
Best player in the clutch not usually in starting lineup? Who would be the best to sub in, in these situations?

In [115]:
%%sql
SELECT
	clutch_rank,
	player_name,
	stand,
	plate_appearences,
	batting_avg,
	on_base_pct,
	slugging_avg
FROM clutch_player_rank
WHERE CONCAT('%', player_name, '%') NOT IN  (
SELECT player
FROM starting_lineup )
GROUP BY batter

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
18 rows affected.

[(1, 'Davis, J.D.', 'R', 35, Decimal('0.333'), Decimal('0.486'), Decimal('0.704')),
 (2, 'Casali, Curt', 'R', 20, Decimal('0.353'), Decimal('0.450'), Decimal('0.588')),
 (3, 'González, Luis', 'L', 65, Decimal('0.357'), Decimal('0.446'), Decimal('0.500')),
 (4, 'Estrada, Thairo', 'R', 98, Decimal('0.337'), Decimal('0.398'), Decimal('0.584')),
 (5, 'Slater, Austin', 'R', 58, Decimal('0.271'), Decimal('0.397'), Decimal('0.396')),
 (6, 'Flores, Wilmer', 'R', 111, Decimal('0.316'), Decimal('0.396'), Decimal('0.541')),
 (7, 'Belt, Brandon', 'L', 53, Decimal('0.238'), Decimal('0.396'), Decimal('0.286')),
 (8, 'Longoria, Evan', 'R', 54, Decimal('0.292'), Decimal('0.370'), Decimal('0.604')),
 (9, 'Crawford, Brandon', 'L', 85, Decimal('0.282'), Decimal('0.341'), Decimal('0.397')),
 (10, 'Wynns, Austin', 'R', 28, Decimal('0.240'), Decimal('0.321'), Decimal('0.240')),
 (11, 'Pederson, Joc', 'L', 72, Decimal('0.231'), Decimal('0.306'), Decimal('0.431')),
 (12, 'Vosler, Jason', 'L', 21, Decimal('0.167'), Decimal('0.286'), Decimal('0.278')),
 (13, 'La Stella, Tommy', 'L', 46, Decimal('0.250'), Decimal('0.283'), Decimal('0.341')),
 (14, 'Wade Jr., LaMonte', 'L', 39, Decimal('0.176'), Decimal('0.282'), Decimal('0.235')),
 (15, 'Bart, Joey', 'R', 42, Decimal('0.184'), Decimal('0.262'), Decimal('0.263')),
 (16, 'Ruf, Darin', 'R', 62, Decimal('0.164'), Decimal('0.258'), Decimal('0.400')),
 (17, 'Yastrzemski, Mike', 'L', 93, Decimal('0.167'), Decimal('0.247'), Decimal('0.321')),
 (18, 'Villar, David', 'R', 37, Decimal('0.176'), Decimal('0.243'), Decimal('0.294'))]

Insights:
The lineup is based off most games played by position over the course of 2022 season. It does not account for possible injuries. 
If the giants needed someone to come off the bench I would take whatever player is ranked the highest as they will give you the best chance of getting on base and possibility of taking the lead.

### Related Question 2
How does it change depending on the hand of the pitcher?

In [121]:
%%sql
WITH clutch_player_stats AS (
SELECT
    batter,
    player_name,
    stand,
    p_throws,
    COUNT(batter) AS plate_appearences,
    COUNT(batter) - COUNT(CASE WHEN result = 'walk' THEN 1 ELSE NULL END) as at_bats,
    COUNT(CASE WHEN result = 'hit' THEN 1 ELSE NULL END) AS hits,
    COUNT(CASE WHEN result = 'out' THEN 1 ELSE NULL END) AS outs,
    COUNT(CASE WHEN result = 'walk' THEN 1 ELSE NULL END) AS walks,
    COUNT(CASE WHEN events = 'single' THEN 1 ELSE NULL END) AS singles,
    COUNT(CASE WHEN events = 'double' THEN 1 ELSE NULL END) AS 'doubles',
    COUNT(CASE WHEN events = 'triple' THEN 1 ELSE NULL END) AS triples,
    COUNT(CASE WHEN events = 'home_run' THEN 1 ELSE NULL END) AS home_runs
FROM clutch_batting_simple
WHERE inning > 5
GROUP BY batter, p_throws
HAVING plate_appearences >= 20 
)
SELECT 
	player_name,
    stand,
    p_throws,
    plate_appearences,
    ROUND(hits / at_bats,3)  as batting_avg,
    ROUND((hits+doubles+triples*2+home_runs*3) / at_bats,3) as slugging_avg,
	ROUND((hits+walks) / plate_appearences,3) as on_base_pct,
	RANK() OVER(PARTITION BY p_throws ORDER BY ((hits+walks) / plate_appearences) DESC) as clutch_rank
From clutch_player_stats

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
24 rows affected.

[('González, Luis', 'L', 'L', 23, Decimal('0.400'), Decimal('0.450'), Decimal('0.478'), 1),
 ('Slater, Austin', 'R', 'L', 38, Decimal('0.300'), Decimal('0.433'), Decimal('0.447'), 2),
 ('Estrada, Thairo', 'R', 'L', 27, Decimal('0.375'), Decimal('0.417'), Decimal('0.444'), 3),
 ('Ruf, Darin', 'R', 'L', 21, Decimal('0.316'), Decimal('0.947'), Decimal('0.381'), 4),
 ('Belt, Brandon', 'L', 'L', 21, Decimal('0.278'), Decimal('0.333'), Decimal('0.381'), 4),
 ('Flores, Wilmer', 'R', 'L', 30, Decimal('0.286'), Decimal('0.464'), Decimal('0.333'), 6),
 ('Crawford, Brandon', 'L', 'L', 24, Decimal('0.304'), Decimal('0.391'), Decimal('0.333'), 6),
 ('Longoria, Evan', 'R', 'L', 21, Decimal('0.200'), Decimal('0.400'), Decimal('0.238'), 8),
 ('Davis, J.D.', 'R', 'R', 22, Decimal('0.294'), Decimal('0.706'), Decimal('0.455'), 1),
 ('Longoria, Evan', 'R', 'R', 33, Decimal('0.357'), Decimal('0.750'), Decimal('0.455'), 1),
 ('González, Luis', 'L', 'R', 42, Decimal('0.333'), Decimal('0.528'), Decimal('0.429'), 3),
 ('Flores, Wilmer', 'R', 'R', 81, Decimal('0.329'), Decimal('0.571'), Decimal('0.420'), 4),
 ('Belt, Brandon', 'L', 'R', 32, Decimal('0.208'), Decimal('0.250'), Decimal('0.406'), 5),
 ('Estrada, Thairo', 'R', 'R', 71, Decimal('0.323'), Decimal('0.646'), Decimal('0.380'), 6),
 ('Crawford, Brandon', 'L', 'R', 61, Decimal('0.273'), Decimal('0.400'), Decimal('0.344'), 7),
 ('Wade Jr., LaMonte', 'L', 'R', 32, Decimal('0.222'), Decimal('0.296'), Decimal('0.344'), 8),
 ('La Stella, Tommy', 'L', 'R', 37, Decimal('0.286'), Decimal('0.400'), Decimal('0.324'), 9),
 ('Slater, Austin', 'R', 'R', 20, Decimal('0.222'), Decimal('0.333'), Decimal('0.300'), 10),
 ('Bart, Joey', 'R', 'R', 27, Decimal('0.174'), Decimal('0.304'), Decimal('0.296'), 11),
 ('Pederson, Joc', 'L', 'R', 62, Decimal('0.228'), Decimal('0.456'), Decimal('0.290'), 12),
 ('Vosler, Jason', 'L', 'R', 20, Decimal('0.118'), Decimal('0.235'), Decimal('0.250'), 13),
 ('Villar, David', 'R', 'R', 25, Decimal('0.174'), Decimal('0.217'), Decimal('0.240'), 14),
 ('Yastrzemski, Mike', 'L', 'R', 74, Decimal('0.149'), Decimal('0.254'), Decimal('0.230'), 15),
 ('Ruf, Darin', 'R', 'R', 41, Decimal('0.083'), Decimal('0.111'), Decimal('0.195'), 16)]

Insights:
Luis Gonzalez performs very well regardless of the pitchers throwing hand, being the best on the team outside of the starters against lefties. Evan Longoria sees a increase in production when he is facing righies compared to one of the lowest producing vs lefties.

Extra Views

In [114]:
%%sql
ALTER VIEW clutch_player_rank AS (
WITH clutch_player_stats AS (
SELECT
    batter,
    player_name,
    stand,
    COUNT(batter) AS plate_appearences,
    COUNT(batter) - COUNT(CASE WHEN result = 'walk' THEN 1 ELSE NULL END) as at_bats,
    COUNT(CASE WHEN result = 'hit' THEN 1 ELSE NULL END) AS hits,
    COUNT(CASE WHEN result = 'out' THEN 1 ELSE NULL END) AS outs,
    COUNT(CASE WHEN result = 'walk' THEN 1 ELSE NULL END) AS walks,
    COUNT(CASE WHEN events = 'single' THEN 1 ELSE NULL END) AS singles,
    COUNT(CASE WHEN events = 'double' THEN 1 ELSE NULL END) AS 'doubles',
    COUNT(CASE WHEN events = 'triple' THEN 1 ELSE NULL END) AS triples,
    COUNT(CASE WHEN events = 'home_run' THEN 1 ELSE NULL END) AS home_runs
FROM clutch_batting_simple
WHERE inning > 5
GROUP BY batter
HAVING plate_appearences >= 20 
)
SELECT 
	*,
    ROUND(hits / at_bats,3)  as batting_avg,
	ROUND((hits+walks) / plate_appearences,3) as on_base_pct,
	ROUND((hits+doubles+triples*2+home_runs*3) / at_bats,3) as slugging_avg,
	RANK() OVER(ORDER BY ((hits+walks) / plate_appearences) DESC) as clutch_rank
From clutch_player_stats
)

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [100]:
%%sql
ALTER VIEW starting_lineup AS (
SELECT *
FROM (
SELECT 
	player,
	pos,
	G ,
	PA,
    RANK () OVER(ORDER BY g DESC) as g_rank,
	RANK () OVER(PARTITION BY pos Order By G DESC, PA DESC) as pos_rank
FROM batting_stats_2022 bs 
) as games_by_pos
WHERE pos_rank = 1
ORDER BY g_rank
LIMIT 9
)

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
0 rows affected.

[]

In [101]:
%%sql
SELECT *
FROM (
SELECT 
	player,
	pos,
	G ,
	PA,
    RANK () OVER(ORDER BY g DESC) as g_rank,
	RANK () OVER(PARTITION BY pos Order By G DESC, PA DESC) as pos_rank
FROM batting_stats_2022 bs 
) as games_by_pos
WHERE pos_rank = 1
ORDER BY g_rank
LIMIT 9

 * mysql://admin:***@isba-dev-01.cuk7t1d3zobt.us-east-1.rds.amazonaws.com/sql_project
9 rows affected.

[('Wilmer Flores', 'IF', 151, 602, 1, 1),
 ('Mike Yastrzemski', 'CF', 148, 558, 2, 1),
 ('Thairo Estrada', '2B', 140, 541, 3, 1),
 ('Joc Pederson', 'LF', 134, 433, 4, 1),
 ('Brandon Crawford', 'SS', 118, 458, 6, 1),
 ('Luis González', 'RF', 98, 350, 7, 1),
 ('Joey Bart', 'C', 97, 291, 8, 1),
 ('Darin Ruf', 'UT', 90, 314, 9, 1),
 ('Evan Longoria', '3B', 89, 298, 10, 1)]